In [1]:
import os
import pyodbc
import pandas as pd
import xlsxwriter
import math
from datetime import datetime
from os import walk
from IPython.core.debugger import set_trace

In [2]:
################################
# Function to run query in db
# Inputs: 
#       cnxn -> connection object to DB
#       query -> query string
#       params -> tuple of query parameters
# Output:
#       rows -> query result. Rows of data from DB
#################################

In [3]:
def run_query(cnxn,query,params):
    cursor = cnxn.cursor()
    cursor.execute(query,params)
    rows = []
    if "INSERT" not in query:
        rows = cursor.fetchall()
    return rows

In [4]:
################################
# Function to find index of cell (from excel data)
# where the value starts with "Date".
# This index will then be used to find the calendar, weather and consumption data
# Inputs: 
#       data -> excel data
#       total_rows -> num. rows in excel
#       i,j -> starting position of excel cells
# Output:
#       i -> Row index of "Date"
#################################

In [5]:
def find_index_Date(data,total_rows,i,j):
    found_Date = False
    while not found_Date:
        cell_value = str(data.iloc[i,j])
        if cell_value is not None:
            if cell_value.startswith("Date"):
                found_Date = True
            else:
                i+=1
                if i > total_rows-1:
                    i = -1 # To identify end of row is reached
                    found_Date = True
        else:
            i+=1
            if i > total_rows-1:
                i = -1 # To identify end of row is reached
                found_Date = True
    return i

In [6]:
################################
# Function to find index of cell (from excel data)
# where the value starts with "Actual".
# This index will then be used to find the energy profile data
# Inputs: 
#       data -> excel data
#       total_rows -> num. rows in excel
#       i,j -> starting position of excel cells
# Output:
#       i -> Row index of "Actual"
#################################

In [7]:
def find_index_Actual(data,total_cols):
    found_Actual = False
    i = 4
    j = 0
    while not found_Actual:
        cell_value = str(data.iloc[i,j])
        if cell_value is not None:
            if cell_value.startswith("Actual"):
                found_Actual = True
            else:
                j+=1
                if j > total_cols-1:
                    j = -1 # To identify end of row is reached
                    found_Actual = True
        else:
            i+=1
            if j > total_cols-1:
                j = -1 # To identify end of row is reached
                found_Actual = True
    return j

In [8]:
################################
# Function to find store id number (from excel data)
#
# Inputs: 
#       data -> excel data
#       total_rows -> num. rows in excel
#       i,j -> starting position of excel cells
# Output:
#       id_int -> integer value of branch
#################################

In [9]:
def find_index_branch_id(data,total_rows,i,j):

    cell_value = str(data.iloc[i,j])
    profile_info = data.iloc[i,j] # Usually the string is "### - loc/XXXX)"
    profile_split = profile_info.split("loc/", 1) # Split the string with "loc/"
    id_str = profile_split[1].strip()
    id_str = id_str[:-1]
    return_param = id_str
    
    #found_branch_id = False
    #while not found_branch_id:
        
        #if "- loc/" in cell_value == True:
        #    print("True")
        #    profile_info = data.iloc[i,j] # Usually the string is "### - loc/XXXX)"
        #    cell_split = profile_info.split("loc/") # Split the string with "loc/"
        #    id_str = cell_split[0].strip() # second part of split string will be store id with ")", i.e. "XXXX)"
        #    id_int = int(id_str[:-1]) # remove last char ")"
        #    return_param = id_int
        #    found_branch_id = True
        #else:
        #    i+=1
        #    if i > total_rows-1:
        #        return_param = -1
        #        found_branch_id = True

                    
    return return_param

In [10]:
################################
# For the given value this function 
# tries to get date. If not it returns
# "None" value
################################

In [11]:
def get_date(val):
    date_val = None

    if type(val) is str:
        date_val = datetime.strptime(val,"%d/%m/%Y")
    else:
        date_val = val

    return date_val

In [12]:
################################
# For the given value this function 
# tries to get time. If not it returns
# "None" value
################################

In [13]:
def get_time(val):
    time_val = None
    
    if type(val) is str:
        time_val = datetime.strptime(val,"%H:%M:%S")        
    else:
        time_val = val

    return time_val

In [14]:
################################
# For the given value this function 
# tries to get percentage value if
# the input value is a string (e.g. '85%')
# If not it returns "None" value
################################

In [15]:
def get_percentage(val):
    percentage_val = None
    try:
        percentage_val = float(val)
    except:
        percentage_val = val[:-1] # From input value (e.g. '85%'), removes percentage
        percentage_val = percentage_val.replace(",","") # Found some percentage string values with ",". Just removing them
        percentage_val = float(percentage_val) / 100

    return percentage_val

In [16]:
################################
# For the given value this function 
# tries to get int value. If not it 
# returns 0
################################

In [17]:
def get_int(val):
    if val is None:
        return 0
    else:
        return int(val)

In [18]:
################################
# For the given value this function 
# tries to get float value. If not it 
# returns 0
################################

In [19]:
def get_float(val):
    if val is None:
        return 0
    else:
        return float(val)

In [20]:
## EDIT VERSION

# Parent directory of all excel files 
xlsx_files_root_dir = r"C:\Users\benfl\OneDrive - Flexible Power Systems Ltd\Documents\PCM\Load Profiles - 200120 (FROM SSL)" 

file_tag = "_complete.xlsx"
output_folder = "complete_profiles"
column_headings_path_file = r"C:\Users\benfl\OneDrive - Flexible Power Systems Ltd\Documents\PCM\Load Profile Headers 2.xlsx" 

# read headings 
column_headings = pd.read_excel(column_headings_path_file,keep_default_na=False)

In [21]:
xlsx_files_root_dir = r"C:\Users\benfl\OneDrive - Flexible Power Systems Ltd\Documents\PCM\Load Profiles - 200120 (FROM SSL)" 

# (21/01/20)  ensure that dates are properly aligned

column_headings_order = column_headings[column_headings.columns[0]]
data_offset = 6
old_branch_id = str(0)
count = 0
values_to_remove = ['Active', 'Setup']
dirpath = r"C:\Users\benfl\OneDrive - Flexible Power Systems Ltd\Load Profiles - PythonJoinTestingDelete\Super\10092018IslingtonSuper_0500"
# Fetches all files in directory and loops 
raw_input_row_location_of_header = 4

In [22]:
# - NEW - LATEST  (13/02/20)

column_headings_path_file = r"C:\Users\benfl\OneDrive - Flexible Power Systems Ltd\Documents\FPS Developer\SSL_data_cleaning_v3\Documentation\Profile_Schema.xlsx"
column_headings = pd.read_excel(string_new_headers, keep_default_na=False, index_col=0)
column_headings_order = column_headings_NEW.iloc[0]
new_index = list(range(0,column_headings_order.size))
column_headings_order.index = new_index

NameError: name 'string_new_headers' is not defined

In [25]:
xlsx_files_root_dir = r"C:\Users\benfl\OneDrive - Flexible Power Systems Ltd\Documents\PCM\Load Profiles - 200120 (FROM SSL)" 

# NEW - LATEST  (21/01/20)  ensure that dates are properly aligned

data_offset = 6
old_branch_id = str(0)
count = 0
values_to_remove = ['Active', 'Setup']
first_run = True
# Fetches all files in directory and loops thorough each file
for (dirpath, dirnames, filenames) in walk(xlsx_files_root_dir):
    for filename in filenames:
        
        # 0. Set any constants and skip if XXXX_complete 
        
        raw_input_row_location_of_header = 4
        
        # 1. skip if file is 'XXXX_complete.xlsx'
        
        if file_tag in filename:
            continue
        
        # 2. Load file and delete trailing columns

        print(filename)
        data = pd.read_excel(os.path.join(dirpath,filename),keep_default_na=False)
        total_rows = len(data)
        total_cols = len(data.columns)
        i=0
        j=0
        
        cols_to_drop = []
        for indx in range(1, data.shape[1]):
            if len(data.iloc[raw_input_row_location_of_header,indx]) == 0:
                cols_to_drop.append(indx)
        data.drop(data.columns[cols_to_drop], axis=1, inplace=True)
        
        
        # 3. Find store number
        
        branch_id = find_index_branch_id(data, total_cols, i, j)
        
        # 4. If the store is different to the previous loop (is now complete), remove any leftover strings, update headers and save
        
        try:
            if first_run == False and branch_id_prev != branch_id:
                # find unwanted string values cells and delete
                for value in values_to_remove:
                    listOfPos = list()
                    # Get bool dataframe with True at positions where the given value exists
                    result = complete_data_new.isin([value])
                    # Get list of columns that contains the value
                    seriesObj = result.any()
                    columnNames = list(seriesObj[seriesObj == True].index)
                    # Iterate over list of columns and fetch the rows indexes where value exists
                    for col in columnNames:
                        complete_data_new[col] = ''
                
                complete_data_new.columns = column_headings_order
                complete_data_new.to_excel(os.path.join(xlsx_files_root_dir + "/" + output_folder + "/" + str(branch_id_prev) + file_tag), index=False)
        except NameError:
            pass
        

        # 5. Find var_name
        
        # find key word 1 (first word) "Electricity"/"Heat"/"Gas" + " consumption/production"
        profile_info = str(data.iloc[0,0]) # find the profile information
        cell_split = profile_info.split(" at ", 1) # Split the string at " at "
        kw2 = cell_split[0].strip() # get profile type "key word 1"
        # check if profile is a store total, i.e. if branch id starts second string
        if  (cell_split[1].strip()).find(str(branch_id)) == 0:
            total_flag = True # if it is a total, set "key word 2 " as total 
            kw1 = "Store"
        else:
            total_flag = False # if it is not a total, set "key word 2 " as the variable 
            cell_split2 = cell_split[1].split(" (", 1)
            kw1 = cell_split2[0].strip()
        # create full variable name    
        var_name = kw1 + " " + kw2 + " (kW)"

        # 6. Find "Actual" column
        
        act_col = find_index_Actual(data, total_cols)

        # 7. Set to var_name
        
        data.iloc[raw_input_row_location_of_header,act_col] = var_name

        # 8. Make column names headers
        
        data = data.drop(data.index[[0,1,2,3]])
        new_header = data.iloc[0] #grab the first row for the header
        data = data[1:] #take the data less the header row
        data.columns = new_header #set the header row as the df header

        # 9. Check if XXXX_complete.xlsx exists
        
        complete_exists = False
        
        for (dirpath2, dirnames2, filenames2) in walk(os.path.join(xlsx_files_root_dir,output_folder)):
            if filenames2 == []:
                break
            for filename2 in filenames2:
                if str(filename2) == str(branch_id) + file_tag:
                    complete_exists = True
                    break

        # 9.1. If complete exists:
            # Open complete
            # Merge with current data
            
        if complete_exists == True:
            #data['Date'].astype('datetime64[ns]')
            data.to_excel(os.path.join(xlsx_files_root_dir + "/" + "tmp" + file_tag), index=False)
            data = pd.read_excel(os.path.join(xlsx_files_root_dir + "/" + "tmp" + file_tag),keep_default_na=False)
            complete_data = pd.read_excel(os.path.join(xlsx_files_root_dir + "/" + output_folder + "/" + str(branch_id) + file_tag))
            complete_data_new = pd.merge(complete_data,data,on='Date', how='outer') 
            # remove any trailing '_x' from variable names
            post_merge_headers = complete_data_new.columns
            cleaned_headers = list(map(lambda x: x.replace('_x',''),post_merge_headers))
            complete_data_new.columns = cleaned_headers
            
            # Find duplicated date rows, caused by clock changes producing duplicate time rows and merging doubling these
                # delete the ones which are incorrect mixes of the extra times due to clock change
            bool_duplicates_all = complete_data_new.duplicated(subset=['Date'], keep  = False)
            duplicate_rows = complete_data_new[bool_duplicates_all]

            to_remove = []
            for i in range(0, duplicate_rows.shape[0]):
                z = duplicate_rows.shape[0] - (i+1)
                if (z % 4) == 1 or (z % 4) == 2:
                    to_remove.append(z)
            duplicate_indx = [i for i, x in enumerate(bool_duplicates_all) if x]
            for i in to_remove:
                complete_data_new.drop(duplicate_indx[i], inplace=True)
            bool_duplicates_all = complete_data_new.duplicated(subset=['Date'], keep  = False)
            duplicate_rows = complete_data_new[bool_duplicates_all]
            duplicate_indx = [i for i, x in enumerate(bool_duplicates_all) if x]
            count = 2
            for z in range(0,len(duplicate_indx)):
                if ((z+1) % 2) == 0:
                    if count == 3:
                        i = duplicate_indx[z]
                        # swap rows i and i+1
                        b, c = complete_data_new.iloc[i], complete_data_new.iloc[i+1]
                        temp = complete_data_new.iloc[i].copy()
                        complete_data_new.iloc[i] = c
                        complete_data_new.iloc[i+1] = temp
                        count = 0
                count = count + 1       
            
        else:
             complete_data_new = data
            
        # 10. Make sure there are at least the required number of columns
        
        if complete_data_new.shape[1] < column_headings.shape[0]:
            numb_new_cols_req = column_headings.shape[0] - complete_data_new.shape[1]
            complete_data_new = complete_data_new.reindex(complete_data_new.columns.tolist() + ['new_var' + str(INDEX) for INDEX in range(column_headings.shape[0]-numb_new_cols_req,column_headings.shape[0])], axis=1)
            
            
            
        # 11. For each variable header:
            # Check to see if it is contained in the input headers
            # If contained:
                # Find location data should go
                # Copy column and header to that location
                # Delete column at old location
        
        for header in complete_data_new.columns: # for each header in the new merged set
            try:
                #print(header)
                header_loc = column_headings_order[column_headings_order == header].index[0] # -> try to find the location of that header in the set of expected headers
                #print(header + " has header_loc: " + str(header_loc))
            except ValueError:
                header_loc = -1 # if the header can't be found indicate this
                #print("Header is not found")
            except IndexError:
                header_loc = -1 # if the header can't be found indicate this
                #print("Header is not found")
            if header_loc != -1: # if the header is found
                names = complete_data_new.columns.tolist() # convert the names of the headers in the merged data set to a list
                data_to_copy = complete_data_new[header] # data to be moved
                complete_data_new.drop(header, 1, inplace=True) # delete the old copy of the data
                complete_data_new.insert(int(header_loc), header, data_to_copy.values) # insert a copy of the column
                
        # 12. Delete unnecessary columns     
        
        if complete_data_new.shape[1] > column_headings.shape[0]:
            complete_data_new.drop(complete_data_new.columns[list(range(column_headings.shape[0], complete_data_new.shape[1]))], axis=1, inplace=True)
        
        # 13. Save file as complete output TESTING PRINT SIZES OUT
        print('data shape is ' + str(data.shape))
        print('complete_data_new shape is ' + str(complete_data_new.shape))
        
        complete_data_new.to_excel(os.path.join(xlsx_files_root_dir + "/" + output_folder + "/" + str(branch_id) + file_tag), index=False)
        
        # 14. Save branch_id from this loop
        
        branch_id_prev = branch_id
        
        # 14. Delete TMP file
        
        try:
            os.remove(os.path.join(xlsx_files_root_dir + "/" + "tmp" + file_tag))
        except FileNotFoundError:
            pass
        
        # 15. Indicate first run complete 
        
        first_run = False

        
# 16. For final store, apply step 4.
# find unwanted string values cells and delete
for value in values_to_remove:
    listOfPos = list()
    # Get bool dataframe with True at positions where the given value exists
    result = complete_data_new.isin([value])
    # Get list of columns that contains the value
    seriesObj = result.any()
    columnNames = list(seriesObj[seriesObj == True].index)
    # Iterate over list of columns and fetch the rows indexes where value exists
    for col in columnNames:
        complete_data_new[col] = ''
complete_data_new.columns = column_headings_order
complete_data_new.to_excel(os.path.join(xlsx_files_root_dir + "/" + output_folder + "/" + str(branch_id_prev) + file_tag), index=False)

# 17. Alert user that script has finished
print('Finished')

2709_ElectricityEnvironment_Total.xlsx
data shape is (35040, 7)
complete_data_new shape is (35040, 38)
2709_ElectricityHours_Total.xlsx
data shape is (35040, 6)
complete_data_new shape is (35040, 38)
2709_FoodPrep_Bakery_Electricity.xlsx
data shape is (17538, 4)
complete_data_new shape is (35056, 38)
2709_FoodPrep_Electricity.xlsx
data shape is (17538, 4)
complete_data_new shape is (35056, 38)
2709_FoodPrep_FoodToGo_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35056, 38)
2709_FoodPrep_JSR_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35056, 38)
2709_HVAC_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35056, 38)
2709_HVAC_hvacAHU_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35056, 38)
2709_HVAC_hvacHandV_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35056, 38)
2709_Lighting_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35056, 38)
2709_Lighting_LightingSalesAmbient_Electricity.xlsx
data shape is (35088, 4)
complete_data_new shape is (35104, 38)
2709_Refrigeration_DTpack_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35104, 38)
2709_Refrigeration_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35104, 38)
2709_Refrigeration_ITcabinets_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35104, 38)
2709_Refrigeration_LTcabinets_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35104, 38)
2709_SmallLightingAndPower_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35104, 38)
2709_Tenant_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35104, 38)
2709_TravellatorsAndLifts_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35104, 38)
2670_ElectricityEnvironment_Total.xlsx
data shape is (35040, 7)
complete_data_new shape is (35040, 38)
2670_ElectricityHours_Total.xlsx
data shape is (35040, 6)
complete_data_new shape is (35040, 38)
2670_FoodPrep_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_FoodPrep_FoodToGo_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_FoodPrep_JSR_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_Gas_Total.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_HVAC_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_HVAC_hvacAHU_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_HVAC_hvacHandV_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_Lighting_BSLB_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_Lighting_Domestics.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_Lighting_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_Lighting_External.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_Lighting_Sales_Ambient.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_Lighting_Sales_Feature.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_Others_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_Refrigeration_DTpack_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_Refrigeration_Electrciity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_Refrigeration_ITcabinets.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_Refrigeration_LTcabinets.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_SmallLightingAndPower_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2670_Tenant_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2288_ElectricityEnvironment_Total.xlsx
data shape is (35040, 7)
complete_data_new shape is (35040, 38)
2288_ElectricityHours_Total.xlsx
data shape is (35040, 6)
complete_data_new shape is (35040, 38)
2288_FoodPrep_Bakery_Electricity.xlsx
data shape is (35088, 4)
complete_data_new shape is (35088, 38)
2288_FoodPrep_ColleagueCanteen_Electricity.xlsx
data shape is (731, 4)
complete_data_new shape is (35084, 38)
2288_FoodPrep_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35084, 38)
2288_FoodPrep_FoodToGo_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35084, 38)
2288_FoodPrep_JSR_Electricity.xlsx
data shape is (35088, 4)
complete_data_new shape is (35084, 38)
2288_HVAC_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35084, 38)
2288_HVAC_hvacAHU_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35084, 38)
2288_HVAC_hvacHandV_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35084, 38)
2288_Lighting_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35084, 38)
2288_Lighting_LightingSalesAmbient_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35084, 38)
2288_Lighting_LightingSalesFeature_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35084, 38)
2288_Refrigeration_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35084, 38)
2288_Refrigeration_ITcabinets_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35084, 38)
2288_Refrigeration_LTcabinets_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35084, 38)
2288_Refrigeration_LTpack_Electricity.xlsx
data shape is (731, 4)
complete_data_new shape is (35084, 38)
2288_SmallLightingAndPower_Electricity.xlsx
data shape is (34501, 4)
complete_data_new shape is (35084, 38)
2288_Tenant_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35084, 38)
2288_TravellatorsAndLifts_Electricity.xlsx
data shape is (35088, 4)
complete_data_new shape is (35084, 38)
0003_ElectricityEnvironment_Total.xlsx
data shape is (35040, 7)
complete_data_new shape is (35040, 38)
0003_ElectricityHours_Total.xlsx
data shape is (35040, 6)
complete_data_new shape is (35040, 38)
0003_FoodPrep_Bakery_Electricity.xlsx
data shape is (732, 4)
complete_data_new shape is (35038, 38)
0003_FoodPrep_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35038, 38)
0003_FoodPrep_FoodToGo_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35038, 38)
0003_FoodPrep_JSR_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35038, 38)
0003_GoodsOnLine_Electricity.xlsx
data shape is (732, 4)
complete_data_new shape is (35038, 38)
0003_HVAC_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35038, 38)
0003_HVAC_hvacHandV_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35038, 38)
0003_Lighting_Electricity.xlsx
data shape is (35088, 4)
complete_data_new shape is (35085, 38)
0003_Lighting_LightingSalesAmbient_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35085, 38)
0003_Refrigeration_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35085, 38)
0003_Refrigeration_ITcabinets_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35085, 38)
0003_Refrigeration_ITpack_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35085, 38)
0003_Refrigeration_LTcabinets_Electricity.xlsx
data shape is (35088, 4)
complete_data_new shape is (35085, 38)
0003_SmallLightingAndPower_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35085, 38)
0003_TravellatorsAndLifts_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35085, 38)
2242_ElectricityEnvironment_Total.xlsx
data shape is (35040, 7)
complete_data_new shape is (35040, 38)
2242_ElectricityHours_Total.xlsx
data shape is (35040, 6)
complete_data_new shape is (35040, 38)
2242_FoodPrep_Bakery_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_FoodPrep_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_FoodPrep_FoodToGo_Electricity.xlsx

data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_FoodPrep_JSR_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_Gas_Total.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_GoodsOnLine_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_HVAC_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_HVAC_hvacAHU_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_HVAC_hvacHandV_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_Lighting_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_Lighting_LightingExternal_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_Lighting_LightingSalesAmbient_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_Lighting_LightingSalesFeature_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_Refrigeration_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_Refrigeration_ITcabinets_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_Refrigeration_LTcabinets_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_Refrigeration_LTpack_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
2242_SmallLightingAndPower_Electricity.xlsx
data shape is (35040, 4)
complete_data_new shape is (35040, 38)
Finished

In [24]:
# END OF SCRIPT

,Date,Tenant Electricity consumption (kW),Baseline (kW),Asset status
0,2018-09-10 00:30:00,0,0.612601,Active
1,2018-09-10 01:00:00,2,0.547324,Active
2,2018-09-10 01:30:00,0,0.657793,Active
3,2018-09-10 02:00:00,0,0.602558,Active
4,2018-09-10 02:30:00,0,0.567409,Active
5,2018-09-10 03:00:00,2,0.602558,Active
6,2018-09-10 03:30:00,0,0.597537,Active
7,2018-09-10 04:00:00,0,0.632686,Active
8,2018-09-10 04:30:00,0,0.577452,Active
9,2018-09-10 05:00:00,2,0.637708,Active
10,2018-09-10 05:30:00,0,0.597537,Active
11,2018-09-10 06:00:00,0,0.657793,Active
12,2018-09-10 06:30:00,0,0.557367,Active
13,2018-09-10 07:00:00,2,0.587494,Active
14,2018-09-10 07:30:00,0,0.661675,Active
15,2018-09-10 08:00:00,0,0.509431,Active
16,2018-09-10 08:30:00,0,0.579698,Active
17,2018-09-10 09:00:00,2,0.690953,Active
18,2018-09-10 09:30:00,0,0.843197,Active
19,2018-09-10 10:00:00,0,1.00715,Active
20,2018-09-10 10:30:00,2,0.954452,Active
21,2018-09-10 11:00:00,0,0.954452,Active
22,2018-09-10 11:30:00,2,0.843582,Active
23,2018-09-10 12:00:00,0,0.898816,Active
24,2018-09-10 12:30:00,2,1.02435,Active
25,2018-09-10 13:00:00,0,0.783326,Active
26,2018-09-10 13:30:00,2,0.9892,Active
27,2018-09-10 14:00:00,0,0.833539,Active
28,2018-09-10 14:30:00,0,0.908859,Active
29,2018-09-10 15:00:00,2,0.908859,Active
...,...,...,...,...
17510,2019-09-09 19:30:00,0,,Active
17511,2019-09-09 20:00:00,0,,Active
17512,2019-09-09 20:30:00,0,,Active
17513,2019-09-09 21:00:00,0,,Active
17514,2019-09-09 21:30:00,0,,Active
17515,2019-09-09 22:00:00,0,,Active
17516,2019-09-09 22:30:00,0,,Active
17517,2019-09-09 23:00:00,0,,Active
17518,2019-09-09 23:30:00,0,,Active
17519,2019-09-10 00:00:00,0,,Active
17520,2019-09-10 00:30:00,0,,Active
17521,2019-09-10 01:00:00,0,,Active
17522,2019-09-10 01:30:00,,,Active
17523,2019-09-10 02:00:00,,,Active
17524,2019-09-10 02:30:00,,,Active
17525,2019-09-10 03:00:00,,,Active
17526,2019-09-10 03:30:00,,,Active
17527,2019-09-10 04:00:00,,,Active
17528,2019-09-10 04:30:00,,,Active
17529,2019-09-10 05:00:00,,,Active
17530,2019-09-10 05:30:00,,,Active
17531,2019-09-10 06:00:00,,,Active
17532,2019-09-10 06:30:00,,,Active
17533,2019-09-10 07:00:00,,,Active
17534,2019-09-10 07:30:00,,,Active
17535,2019-09-10 08:00:00,,,Active
17536,2019-09-10 08:30:00,,,Active
17537,2019-09-10 09:00:00,,,Active
17538,2019-09-10 09:30:00,,,Active
17539,2019-09-10 10:00:00,,,Active

In [73]:
complete_data_new

4,Date,Operating hours,Opening hours,Sunshine hours (h),Humidity (%),Temperature (C),Asset status,Store Electricity consumption (kW),Baseline (kW),Actual (kW),Baseline (kW),Actual (kW),Baseline (kW)
5,2017-09-10 00:30:00,0,0,,,,,166.507,181.626,11.6,18.3388,2,9.5102
6,2017-09-10 01:00:00,0,0,0,94,10,,166.656,186.917,14.8,23.8204,4,12.449
7,2017-09-10 01:30:00,0,0,,,,,165.057,200.293,17.2,55.2458,2,41.9583
8,2017-09-10 02:00:00,0,0,0,100,10,,165.566,208.471,14.8,59.4208,2,46.2083
9,2017-09-10 02:30:00,0,0,,,,,163.747,220.709,16.6,61.3061,6,52.0816
10,2017-09-10 03:00:00,0,0,0,100,10,,161.456,212.651,15.4,57.1551,6,48.6122
11,2017-09-10 03:30:00,0,0,,,,,269.885,215.734,111.8,61.2694,104,52.4082
12,2017-09-10 04:00:00,0,0,0,100,10,,235.505,215.946,81.6,55.1878,72,47.102
13,2017-09-10 04:30:00,0,0,,,,,233.156,222.785,74,53.4694,64,42.449
14,2017-09-10 05:00:00,0,0,0,100,10,,220.366,218.142,59.2,49.0408,50,40.2041
15,2017-09-10 05:30:00,0,0,,,,,216.525,218.244,55.4,45.9184,46,37.3061
16,2017-09-10 06:00:00,0,0,0,100,11,,200.646,213.559,45.6,45.1469,38,36.6122
17,2017-09-10 06:30:00,0,0,,,,,204.194,221.877,51.2,44.7306,42,34.1224
18,2017-09-10 07:00:00,0,0,0,100,11,,203.948,236.522,43,58.4571,32,31.4286
19,2017-09-10 07:30:00,0,0,,,,,205.872,212.441,39.6,42.6571,26,30.5714
20,2017-09-10 08:00:00,0,0,0.1,94,12,,200.965,217.012,36.6,38.8286,22,25.1429
21,2017-09-10 08:30:00,0,0,,,,,196.009,213.22,24.4,34.4,14,24.8571
22,2017-09-10 09:00:00,0,0,0,100,12,,206.107,215.84,29.4,40.2857,20,26.5714
23,2017-09-10 09:30:00,0,0,,,,,241.209,232.273,62,45.4286,14,20
24,2017-09-10 10:00:00,0,0,0,100,12,,255.138,237.336,74.4,52.5143,36,17.4286
25,2017-09-10 10:30:00,0,0,,,,,274.107,260.816,71.6,66.2286,30,11.7143
26,2017-09-10 11:00:00,0,0,0,88,14,,318.585,279.051,102.6,60.6857,52,10.2857
27,2017-09-10 11:30:00,1,1,,,,,316.168,296.448,82.6,80.5959,26,26.449
28,2017-09-10 12:00:00,1,1,0,88,14,,311.846,292.799,74.6,73.0204,10,23.4286
29,2017-09-10 12:30:00,1,1,,,,,291.189,291.959,62,70.049,12,21.4286
30,2017-09-10 13:00:00,1,1,0,82,14,,292.74,298.686,54.4,72.0816,6,17.9592
31,2017-09-10 13:30:00,1,1,,,,,288.81,295.758,60,68.8735,2,14.2857
32,2017-09-10 14:00:00,1,1,0,88,14,,305.709,295.611,71.2,66.5265,8,11.8776
33,2017-09-10 14:30:00,1,1,,,,,305.654,295.074,62,58.698,4,10.7347
34,2017-09-10 15:00:00,1,1,0,94,14,,299.021,288.768,53,52.7347,6,8.93878
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35015,2019-09-09 09:30:00,1,1,,,,,,,65.8,73.3904,28,32
35016,2019-09-09 10:00:00,1,1,0,93,11,,,,60.8,70.547,26,28.9521
35017,2019-09-09 10:30:00,1,1,,,,,,,50.4,72.4006,10,27.0863
35018,2019-09-09 11:00:00,1,1,0,93,12,,,,53.6,73.9323,6,24.7284
35019,2019-09-09 11:30:00,1,1,,,,,,,68.6,78.2816,4,22.4548
35020,2019-09-09 12:00:00,1,1,0,93,13,,,,59.6,71.7414,4,22.0055
35021,2019-09-09 12:30:00,1,1,,,,,,,50,68.16,2,21.5616
35022,2019-09-09 13:00:00,1,1,0,93,13,,,,52.2,66.4745,4,18.5808
35023,2019-09-09 13:30:00,1,1,,,,,,,50,65.4789,6,15.1014
35024,2019-09-09 14:00:00,1,1,0,87,14,,,,61.6,62.0334,4,12.811
35025,2019-09-09 14:30:00,1,1,,,,,,,49.4,56.314,4,11.3753
35026,2019-09-09 15:00:00,1,1,0,82,14,,,,48.2,50.474,2,9.66027
35027,2019-09-09 15:30:00,1,1,,,,,,,46.2,47.8318,8,8.43288
35028,2019-09-09 16:00:00,1,1,0,87,14,,,,52.6,47.2192,22,7.3589
35029,2019-09-09 16:30:00,1,1,,,,,,,36.6,44.7551,6,7.00274
35030,2019-09-09 17:00:00,1,1,0,87,14,,,,36.8,39.9847,4,5.45205
35031,2019-09-09 17:30:00,1,1,,,,,,,32.8,38.5514,2,4.83067
35032,2019-09-09 18:00:00,1,1,0,93,13,,,,32.6,36.7188,2,4.40256
35033,2019-09-09 18:30:00,1,1,,,,,,,30.4,34.8786,4,4.08946
35034,2019-09-09 19:00:00,1,1,0,93,13,,,,37.6,33.6307,8,4.02556
35035,2019-09-09 19:30:00,1,1,,,,,,,32.2,31.0754,6,3.92971
35036,2019-09-09 20:00:00,1,1,0,100,12,,,,17,27.2812,4,3.4377
35037,2019-09-09 20:30:00,1,1,,,,,,,16.2,21.1687,4,3.36741
35038,2019-09-09 21:00:00,1,1,0,100,12,,,,12,17.6217,2,3.38019
35039,2019-09-09 21:30:00,1,1,,,,,,,13.8,14.9591,4,3.17572
35040,2019-09-09 22:00:00,1,1,0,100,12,,,,10,14.6626,2,3.23962
35041,2019-09-09 22:30:00,0,0,,,,,,,9.8,15.3353,2,3.22192
35042,2019-09-09 23:00:00,0,0,0,100,12,,,,7,14.9003,2,3.06849
35043,2019-09-09 23:30:00,0,0,,,,,,,11.6,13.0433,4,3.1726
35044,2019-09-10 00:00:00,0,0,,,,,,,7.4,12.8532,2,3.30411

In [31]:
complete_data_new.to_excel(os.path.join(xlsx_files_root_dir, output_folder, str(branch_id) + file_tag), index=False)

In [33]:
complete_data_new.to_excel(r'C:\Users\benfl\OneDrive - Flexible Power Systems Ltd\Documents\Load Profiles - PythonJoinTestingDelete\complete_profiles\0885_complete.xlsx')

In [ ]:
## EDIT VERSION

# Parent directory of all excel files 
xlsx_files_root_dir = r"C:\Users\benfl\OneDrive - Flexible Power Systems Ltd\Load Profiles - PythonJoinTestingDelete" 

file_tag = "_complete.xlsx"
output_folder = "complete_profiles"
column_headings_path_file = r"C:\Users\benfl\OneDrive - Flexible Power Systems Ltd\Documents\PCM\Load Profile Headers 2.xlsx" 

# read headings 
column_headings = pd.read_excel(column_headings_path_file,keep_default_na=False)


# NEW - LATEST  (21/01/20)  ensure that dates are properly aligned

column_headings_order = column_headings[column_headings.columns[0]]
data_offset = 6
old_branch_id = str(0)
count = 0
values_to_remove = ['Active', 'Setup']
# Fetches all files in directory and loops 
raw_input_row_location_of_header = 4

In [64]:
column_headings_path_file = r"C:\Users\benfl\OneDrive - Flexible Power Systems Ltd\Documents\FPS Developer\SSL_data_cleaning_v3\Documentation\Profile_Schema.xlsx"
column_headings = pd.read_excel(string_new_headers, keep_default_na=False, index_col=0)
column_headings_order = column_headings_NEW.iloc[0]
new_index = list(range(0,column_headings_order.size))
column_headings_order.index = new_index